/*--------------------------------------------------------------
	4.2)Time circles
----------------------------------------------------------------*/
.time_circles {
    width: 100%;
    position: relative;
}
.time_circles > div {
    position: absolute;
    text-align: center;
}
.time_circles > div > h4 {
    color: #fff;
    margin: 0px;
    padding: 0px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px !important;
    text-transform: capitalize;
    line-height: 17px !important;
    font-family: 'Lato', sans-serif;
}
.time_circles > div > span {
    color: #fff;
    width: 100%;
    display: block;
    font-size: 60px;
    font-weight: 600;
    margin-top: 0.4em;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


.time_circles .textDiv_Days{

    top: 72px; left: 0px; width: 205px;
}


.time_circles .textDiv_Hours{

    top: 72px; left: 205px; width: 205px;
}


.time_circles .textDiv_Minutes{

    top: 72px; left: 410px; width: 205px;
}



.time_circles .textDiv_Seconds{

    top: 72px; left: 615px; width: 205px;
}

.dark-circle .time_circles > div > h4 {
    color: #787787;
}
.dark-circle .time_circles > div > span {
    color: #505458;
}

 .time_circles {
        height: 250px;
    }


@media (min-width: 320px) and (max-width: 479px) {

    .time_circles {
        height: 80px;
    }
    .time_circles > div > h4 {
        font-size: 12px !important;
    }

    .countdown-time {
        max-width: 320px !important;
    }
    .countdown p {
        font-size: 13px;
    }
    .percent-container span {
        line-height: 100px;
    }
    .countdown h1 {
        font-size: 25px;
        margin-bottom: 15px;
    }

 }


 /*---------- pie-charat	----------*/
.countdowm-main {
    margin-top: 10px;
}
.countdown {
    margin: auto 0px;
}
.countdown h1 {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin: 15px 0px;
    text-align: center;
}
.countdown p {
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.count-panal {
    text-align: center;
    margin: auto 0px;
    height: 150px !important;
}
.count-panal h1 {
    position: absolute;
    text-align: center;
    color: #fff;
}
.easy-pie-chart {
    border: none;
}
.percent-container span {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    position: absolute;
    font-size: 42px;
    text-align: center;
    font-weight: 300;
    display: inline-block;
    line-height: 140px;
    font-family: 'Lato', sans-serif;
}
.percent-dark span {
    color: #787778;
}
canvas {
    margin-left: 0px !important;
}
.count-dark h1 {
    color: #505458;
}
.count-dark p {
    color: #787787;
}